

/* Mobile store */

/* Nav Bar */

ul{

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111111;
  border-radius: 10px;
}

#Bimg{
  margin-left: 196px;
  width: 753px;
  height: 310px;
  border-radius: 10px;
  margin-top:1px
}

#addCart{

  background-color: #164d8fe3;
  color:white;
}
#removeCart{
  
  background-color: #02060ce3;
    color: white;

}